<nav class="navbar navbar navbar-expand-md navbar-light fixed-top bg-purple p-10">
    <a class="navbar-brand logo" routerLink="/">
        <span>TokenWallet</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" #navbarToggler>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start purplecanvas" tabindex="-1" id="navbarNav" aria-labelledby="navbarNavLabel" #navbarNav data-bs-backdrop="false">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="navbarNavLabel">Menu</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" *ngIf="isAdmin()">
                    <a class="nav-link"  routerLink="/user" (click)="navbarToggler.click()">
                        ADMIN
                    </a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn()">
                    <a class="nav-link" (click)="logOut()" routerLink="/login">
                        LOGOUT
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
