

.step {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
   
}
.step:hover {
    transform: scale(1.1);
    transition: 0.5s;
}


.step h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

.step p {
    font-size: 18px;
    margin-bottom: 10px;
}
.bnlogin {
    font-size: large;
    font-weight: bold;
}
.balance {
    font-size: large;
    font-weight: bold;
    color:green;
}
.balance:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.buybutton {
    font-size: large;
    font-weight: bold;
    color:whitesmoke;
}

.buybutton:hover {
    transform: scale(1.1);
    transition: 0.5s;
}